<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django relation ......!!</title>


</head>
<body>
<nav class="nav bar navbar_expand navbar_dark bg_dark">
    <h2 style="color:#bbb">    OneToOneRelation  </h2>
    <h3> state and capitals</h3>
</nav>
<div class="'container">
    <div class="row">
        <div class="col-md-6">
            {% for i in items %}
            <p style="color:blue">{{i.sname}}:{{i.capitalcity.cname}}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>